.App{
    min-height: 100vh;
}
.dropzone {
    border: 2px dashed #CBD5E0;
    color: #718096;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    cursor: pointer;
    outline: none;
    transition: border 0.1s ease-in-out;
    font-family: Arial, sans-serif;
  }
  
  .dropzone:hover {
    border: 2px dashed #2D3748;
    color: black;
  }

  .defaultMockupBoxes:hover{
    border: 2px solid #DD6B20;
    cursor: pointer;
  }